@keyframes focus {
    0% {
        margin-top: 0;
    }

    25% {
        margin-top: 0.5vw;
    }

    50% {
        margin-top: 0;
    }

    75% {
        margin-top: -0.5vw;

    }

    100% {
        margin-top: 0;
    }
}

@keyframes deleteToDo {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;

    }
}

@keyframes animatinempydeleteCOmpleted {
    from {
        color: hsl(300, 60.8%, 29%)
    }

    to {
        color: hsl(235, 19%, 35%)
    }
}

@keyframes deleteTodoAnimationDesktop {
    from {
        margin-top: 0%;
    }

    to {
        margin-top: -10.7%;
    }
}
@keyframes deleteTodoAnimationMobil {
    from {
        margin-top: 0;
    }

    to {
        margin-top: -4rem;
    }
}
 
  