body {
    margin: 0;
    height: 100vh;
    background-color: #181824;
    display: flex;
    flex-direction: column;
}

* {
    font-family: 'Josefin Sans', sans-serif;
}

.imgUp {
    background-image: url(./assets/bg-desktop-dark.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100vw;
    height: 38%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
}

main {
    margin: 8vh auto 0;

}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 11%;

}

header h1 {
    color: white;
    font-weight: bolder;
    font-family: 'Josefin Sans', sans-serif;
}

.SwitchTheme {
    background-image: url(./assets/icon-sun.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    cursor: pointer;
}

.new_todo {

    width: 100%;
    background-color: #25273c;
    margin-top: 4%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.check_todo {
    margin: 0 5%;
}

.new_todo input {
    width: 80%;
    height: 50%;
    background: none;
    border: none;
    color: hsl(233, 11%, 84%);
}

.new_todo input:focus {
    outline: none;

}

.seccion_todo {
    background-color: #25273c;
    margin-top: 4%;
    overflow: auto;
}

.container_todo {
    height: 80%;
    overflow-y: scroll;
}

.design_ToDO {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    z-index: 1;
}

.design_ToDO_Delete {

    position: relative;
    z-index: 0;
    animation-duration: 1s;
}

.design_ToDO img {
    cursor: pointer;
}

.imgcheck {
    margin: 0 5%;
    display: flex;
    justify-content: center;
    transition: border 0.5s;
    align-items: center;
    background: linear-gradient(127deg, #57ddff, #c058f3);
}

.imgNoCheck {
    margin: 0 5%;
    background: #06060600;
    cursor: pointer;
    transition: border 0.5s;
}

.imgNoCheck:hover {
    border: 0.1vw solid #8c9afd !important;

}

.check_todo:hover {
    border: 0.1vw solid #8c9afd !important;
    cursor: pointer;

}

.imgNoCheck img {
    display: none;
}

.imgcheck img {
    width: 60%;
}

.previewTxt {
    width: 80%;
    border-radius: 0.5vw;
    display: flex;
    align-items: center;
    overflow-x: scroll;
}

.finish {
    text-decoration: line-through;

}

.options_todo {
    display: flex;
    justify-content: space-around;
    color: hsl(235, 19%, 35%);
}


.upcel {
    background-color: #25273c;
    width: 100%;
    display: flex;
    margin: auto;
    height: 4rem;
    align-items: center;
    justify-content: space-between;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.downcel {
    display: flex;
    justify-content: center;
    column-gap: 2rem;
    margin-top: 1.75rem;
    background-color: #25273c;
    height: 4rem;
    border-radius: 0.5rem;
    align-items: center;
}

.upcel #To_do_Finisheds2 {
    margin-left: 1rem;
}

.upcel #completedClear2 {
    margin-right: 1rem;

}

#footerCreditos {
    text-align: center;
}

.hover:hover {
    color: hsl(236, 33%, 92%) !important;
    cursor: pointer;
}

.previewTxt:focus {
    animation-name: focus;
    animation-duration: 1.5s;
    outline: none;
}



.Delete_To_Do {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: #0000008a;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    animation-name: deleteToDo;
    animation-duration: 0.5s;
    z-index: 2;
}

.Delete_To_Do .sectionDelete {
    background: #25273c;
    display: flex;
    flex-direction: column;
}

.Delete_To_Do .sectionDelete div {
    display: flex;
    justify-content: space-around;
    margin-top: auto;
    margin-bottom: 5%;
}

.Delete_To_Do .sectionDelete span {
    margin: auto;
    text-align: center;
    padding: 0 10%;
    color: hsl(236, 33%, 92%);
}

.Delete_To_Do .sectionDelete div button {
    width: 25%;
    height: 120%;
    background: white;
    border: none;
    font-size: 1.38vw;
    border-radius: 0.5vw;
    cursor: pointer;
}


.sectionEmpty {
    text-align: center;
    margin: auto;
    width: 100%;
    color: hsl(236, 33%, 92%);
}

.empydELETEcoMPLETED {
    animation-name: animatinempydeleteCOmpleted;
    animation-duration: 1s;
}

footer {
    height: 12vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

footer span {
    color: hsl(235, 19%, 35%);
}

footer .attribution * {
    color: hsl(304.9, 48.7%, 44.3%);
    text-decoration: none;
}

footer .attribution {
    color: hsl(236, 33%, 92%);
    text-decoration: none;
}

@media (min-width: 250px) {
    main {
        width: 90vw;
    }

    header h1 {
        letter-spacing: 0.7rem;
        font-size: 2.5rem;
    }

    .SwitchTheme {
        width: 2.5rem;
        height: 2.5rem;
    }

    .new_todo {
        border-radius: 0.5rem;
    }

    .check_todo {
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 2rem;
    }

    .new_todo input {
        font-size: 1.4rem;
    }

    .seccion_todo {
        border-top-left-radius: 0.5rem;
        max-height: 56vh;
        border-top-right-radius: 0.5rem;
    }

    .imgcheck {
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 2rem;
    }

    .previewTxt {
        font-size: 1.38rem;
        height: 3rem;
    }

    .design_ToDO {
        height: 4rem;
    }

    .imgNoCheck {
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 2rem;
    }

    .options_todo {
        border-bottom-left-radius: 0.5rem;
        font-size: 1.15rem;
        border-bottom-right-radius: 0.5rem;
    }

    .celphone {
        display: block;
    }

    .desktop {
        display: none;
    }

    footer {
        font-size: 1.38rem;
        margin-top: 6rem;
    }

    #footerCreditos {

        margin-top: 2rem;
    }

    .Delete_To_Do .sectionDelete {
        width: 80%;
        border-radius: 1rem;
        height: 25%;
    }

    .Delete_To_Do .sectionDelete span {
        font-size: 1.38rem;
    }

    .Delete_To_Do .sectionDelete div button {
        width: 45%;

        font-size: 1.38rem;
        border-radius: 0.5rem;
    }

    .design_ToDO_Delete {
        animation-name: deleteTodoAnimationMobil;
    }

    .imgCross {
        display: block;
        margin-right: 1rem;
    }

    .sectionEmpty {
        font-size: 1.38rem;
    }

    .new_todo {
        height: 4rem;
    }

}

@media (min-width: 850px) {
    main {
        height: 80vh;
        width: 38vw;
    }

    header h1 {
        letter-spacing: 0.7vw;
        font-size: 2.5vw;
    }

    .SwitchTheme {
        width: 2.5vw;
        height: 2.5vw;
    }

    .new_todo {
        border-radius: 0.5vw;
    }

    .check_todo {
        width: 1.5vw;
        height: 1.5vw;
        border-radius: 2vw;
    }

    .new_todo input {
        font-size: 1.38vw;
    }

    .seccion_todo {
        border-top-left-radius: 0.5vw;
        max-height: 56%;
        border-top-right-radius: 0.5vw;
    }

    .imgcheck {
        width: 1.5vw;
        height: 1.5vw;
        border-radius: 2vw;
    }

    .previewTxt {
        font-size: 1.38vw;
        height: 2vw;
    }

    .design_ToDO {
        height: 4vw;
    }

    .imgNoCheck {
        width: 1.5vw;
        height: 1.5vw;
        border-radius: 2vw;
    }

    .options_todo {
        border-bottom-left-radius: 0.5vw;
        font-size: 1.15vw;
        border-bottom-right-radius: 0.5vw;
    }

    .celphone {
        display: none;
    }

    .desktop {
        display: flex;
    }

    .options_todo {
        padding: 3% 0;
        background-color: #25273c;
    }

    footer {
        font-size: 1.38vw;
        margin-top: 0rem;

    }

    #footerCreditos {

        margin-top: 0;
    }

    .Delete_To_Do .sectionDelete {
        width: 30%;
        border-radius: 1vw;
        height: 25%;
    }

    .Delete_To_Do .sectionDelete span {
        font-size: 1.38vw;
    }

    .Delete_To_Do .sectionDelete div button {
        width: 25%;

        font-size: 1.38vw;
        border-radius: 0.5vw;
    }

    .design_ToDO_Delete {
        animation-name: deleteTodoAnimationDesktop;
    }

    .imgCross {
        display: none;
        margin-right: 0rem;
    }

    .sectionEmpty {
        font-size: 1.38vw;
    }

    .new_todo {
        height: 10%;
    }
}