body {
    margin: 0;
    height: 100vh;
    background-color: #181824;
    display: flex;
    flex-direction: column;
}

* {
    font-family: 'Josefin Sans', sans-serif;
}

.imgUp {
    background-image: url(./assets/bg-desktop-dark.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100vw;
    height: 38%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
}

main {height: 80vh;
    width: 38vw;
    margin: 8vh auto 0;

}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 11%;

}

header h1 {
    letter-spacing: 0.7vw;
    font-size: 2.5vw;
    color: white;
    font-weight: bolder;
    font-family: 'Josefin Sans', sans-serif;
}

.SwitchTheme {
    background-image: url(./assets/icon-sun.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 2.5vw;
    height: 2.5vw;
    cursor: pointer;
}

.new_todo {
    width: 100%;
    height: 10%;
    background-color: #25273c;
    border-radius: 0.5vw;
    margin-top: 4%;
    display: flex;
    flex-direction: row;
    box-shadow: 0px 0px 50px 0px #181824;
    align-items: center;
}

.check_todo {
    width: 1.5vw;
    height: 1.5vw;
    border-radius: 2vw;
    border: 0.05vw solid hsl(235, 19%, 35%);
    margin: 0 5%;
}

.new_todo input {
    width: 80%;
    height: 50%;
    background: none;
    border: none;
    font-size: 1.38vw;
    color: hsl(233, 11%, 84%);
}

.new_todo input:focus {
    outline: none;

}

.seccion_todo {
    background-color: #25273c;
    margin-top: 4%;
    box-shadow: 0px 0px 50px 0px #181824;
    max-height: 56%;
    overflow: auto;
    border-top-left-radius: 0.5vw;
    border-top-right-radius: 0.5vw;
}

.container_todo {
    height: 80%;
    overflow-y: scroll;
}

.design_ToDO {
    height: 4vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    z-index: 1;
    background: #25273c;
    border-bottom: 1px solid hsl(235, 19%, 35%);
}

@keyframes deleteTodoAnimation {
    from {
        margin-top: 0%;
    }

    to {
        margin-top: -10.7%;
    }
}

.design_ToDO_Delete {
    position: relative;
    z-index: 0;
    animation-name: deleteTodoAnimation;
    animation-duration: 1s;
}

.design_ToDO img {
    cursor: pointer;
}

.imgcheck {
    width: 1.5vw;
    height: 1.5vw;
    border-radius: 2vw;
    margin: 0 5%;
    display: flex;
    justify-content: center;
    transition: border 0.5s;
    align-items: center;
    background: linear-gradient(127deg, #57ddff, #c058f3);
}

.imgNoCheck {
    width: 1.5vw;
    height: 1.5vw;
    border-radius: 2vw;
    margin: 0 5%;
    background: #06060600;
    border: 0.1vw solid hsl(235, 19%, 35%);
    cursor: pointer;
    transition: border 0.5s;
}

.imgNoCheck:hover {
    border: 0.1vw solid #8c9afd;

}

.imgNoCheck img {
    display: none;
}

.imgcheck img {
    width: 60%;
}

.previewTxt {
    width: 80%;
    height: 2vw;
    border-radius: 0.5vw;
    display: flex;
    align-items: center;
    color: hsl(236, 33%, 92%);
    font-size: 1.38vw;
}

.finish {
    text-decoration: line-through;
    color: hsl(235, 19%, 35%);

}

.options_todo {
    display: flex;
    justify-content: space-around;
    color: hsl(235, 19%, 35%);
    font-size: 1.15vw;
    padding: 3% 0;
    border-bottom-left-radius: 0.5vw;
    border-bottom-right-radius: 0.5vw;
    background-color: #25273c;
}

.options_todo div {
    display: flex;
    column-gap: 1vw;
}

.hover:hover {
    color: hsl(236, 33%, 92%) !important;
    cursor: pointer;
}

@keyframes focus {
    from {
        color: #8a80ff;
    }

    to {
        color: hsl(236, 33%, 92%);
    }

}

.previewTxt:focus {
    animation-name: focus;
    animation-duration: 1.5s;
    outline: none;
}

@keyframes deleteToDo {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;

    }
}

.Delete_To_Do {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: #0000008a;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    animation-name: deleteToDo;
    animation-duration: 0.5s;
    z-index: 2;
}

.Delete_To_Do .sectionDelete {
    width: 30%;
    height: 25%;
    background: #25273c;
    border-radius: 1vw;
    display: flex;
    flex-direction: column;
}

.Delete_To_Do .sectionDelete div {
    display: flex;
    justify-content: space-around;
    margin-top: auto;
    margin-bottom: 5%;
}

.Delete_To_Do .sectionDelete span {
    font-size: 1.38vw;
    margin: auto;
    text-align: center;
    padding: 0 10%;
    color: hsl(236, 33%, 92%);
}

.Delete_To_Do .sectionDelete div button {
    width: 25%;
    height: 120%;
    background: white;
    border: none;
    font-size: 1.38vw;
    border-radius: 0.5vw;
    cursor: pointer;
}

.imgCross {
    display: none;
}

.sectionEmpty {
    text-align: center;
    margin: auto;
    width: 100%;
    color: hsl(236, 33%, 92%);
    font-size: 1.38vw;
}
@keyframes animatinempydeleteCOmpleted {
    from{
        color:hsl(300, 60.8%, 29%)
    }to{
        color:hsl(235, 19%, 35%)
    }
}
.empydELETEcoMPLETED{
animation-name: animatinempydeleteCOmpleted;
animation-duration: 1s;
}
footer{
    height: 12vh;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
font-size: 1.38vw;
}
footer span{
    color: hsl(235, 19%, 35%);
}
footer .attribution *{
    color: hsl(250.9, 68%, 38%);
    text-decoration: none;
}
footer .attribution {
    color: hsl(236, 33%, 92%);
    text-decoration: none;
}